body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.gameHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.gameHolder > #gameCanvas {
    border: 1px solid black;
    margin: 5px;
    width: 500px !important;
    height: 300px !important;
}

.footer {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.footer > .info {
    text-align: center;
}

.controller {
    display: none;
}

.controller > .line {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 2px;
}
.controller  button {
    padding: 20px;
    font-size: 100%;
}

@media only screen and (max-width: 600px) {
    .controller {
      display: block;
    }
  }